/* forgot-password.component.css */
.forgot-password-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #3a8ef6, #32c38f);
  padding: 20px;
}

.forgot-password-container {
  width: 400px;
  padding: 30px;
  border-radius: 20px;
  background: rgb(240, 248, 255);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', sans-serif;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeSlideIn 1s ease-out forwards;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 800;
  color: rgb(45, 115, 255);
}
.input-icon {
  position: absolute;
  left: 39px;
  top: 181px;
  font-size: 16px;
  color: #54a8ed;
  
}

.reset-title {
  text-align: center;
  color: rgb(75, 75, 75);
  margin-bottom: 20px;
}

.back-btn-1{
  background-color: rgb(240, 248, 255);
  color: #3a8ef6;
  width: 160px;
  margin: 0 0 0 86px;
}

.back-btn-1:hover{
  background-color: rgb(240, 248, 255);
  color: rgb(39, 179, 102);
}
.form-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: 600;
  color: rgb(0, 51, 102);
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(204, 229, 255);
  border-radius: 13px;
  transition: border-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: rgb(42, 139, 242);
  box-shadow: 0 0 0 3px rgba(42, 139, 242, 0.2);
}

button {
  padding: 10px;
  width: 100%;
  background: rgb(0, 153, 255);
  color: white;
  border: none;
  border-radius: 28px;
  /* font-weight: bold; */
  cursor: pointer;
  transition: background 0.3s ease;
  margin: 10px 0 0 0;
}

button:hover {
  background: rgb(0, 102, 204);
}

.back-btn {
  background: rgb(220, 53, 69);
}

.back-btn:hover {
  background: rgb(200, 35, 51);
}

.token-display {
  background: rgb(233, 245, 255);
  padding: 10px;
  border: 2px solid rgb(252, 5, 5);
  font-size: 16px;
  border-radius: 6px;
}

.error {
  color: rgb(220, 53, 69);
  font-size: 16px;
}

.success {
  color: rgb(40, 167, 69);
  font-size: 16px;
}
